<% content_for :title do %>About<% end %>
<h3>About Hey Hey It's Yesterday</h3>
<div class="column">
<p>Hey Hey It's Yesterdays is the trading names for shops that re-sell, re-purpose and re-love goods that have been donated to raise money to help children and adults that for one reason or another are developmentally challenged.</p>
</div>
<div class="column">
<p> The funds raised pay for consultants and equipment and house modifications and family support.</p>
<p>Our favorite quote is:</p>
<p>Let every child find their path of development in the bosom of their family with joy and laughter at every challenge overcome.</p>
</div>

<body>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2"
cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top;"><img
src="http://lorempixel.com/output/people-q-c-125-107-9.jpg">
<br>
</td>
<td style="vertical-align: top;"
<p>Images are sourced from lorempixel.com and are rotating stock images produced to chosen size.</p
><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
</tbody>
</table>
<br>
</body>
